body{
    background-color: burlywood;
}

.flex-container{
    display: flex;
    flex-flow: row  wrap;
    justify-content:space-around;
    }

.flex-container > div {
    background-color: rgb(148, 145, 140);
    box-shadow: 5px 5px 9px black;
    border-radius: 9px;
    color: white;
    padding: 3px;
    margin: 20px;
    width: 250px;
    height: 360px;
    text-align: center  ;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    }

img{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 9px;

    }
h1{
    text-shadow: 5px 5px 1px black;
}

p{
    text-align: justify;
    color:black;
}